.info-text h3 {
    display: flex;
    margin: 20px;
}
body{
	width: 100%;
	font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
	color: #363636;
    font-size: 16px;
}
.avatar {
    display: flex;
    width: 350px;
    border-radius: 28px;
}
.wrapper {
    max-width: 100%;
    margin: auto;
}

.header{
    width: 100%;
    display: flex;
    position: relative;
    overflow: hidden;
}
.header__avatar{
    display: flex;
    height: 300px;
    border-radius: 28px;
    justify-content: center;
    width: 200px;
    margin: 50px auto;
}
.header__title{
    margin-left: 150px;
    font-family: 'ralewaybold';
    font-size: 50px;
    padding-top: 100px;
}
.header__subtitle{
    margin-left: 300px;
    margin-top: 40px;
    font-size: 50px;
}



.contact__block{
    display: flex;
    align-items: center;
    margin-bottom: 15px;
}
.contact__image{
    background-position: center left;
    background-repeat: no-repeat;
    background-size: cover;
    width: 20px;
    height: 20px;
    margin-right: 10px;
}
.contact__image_discord{
    background-image: url(/img/discord.svg);
}
.contact__image_vk{
    background-image: url(/img/vk.svg);
}
.contact__image_email{
    background-image: url(/img/email.svg);
}
.contact__link{
    color: var(--text-color);
    text-decoration: none;
    transition: all .4s linear;
}

.document-title {
    margin: 20px;
}
.footer{
    background-color: #bbbbb8;
    padding: 10px 0;
    text-align: center;
}
.footer__inner{
    display: flex;
    justify-content: center;
    align-items: center;
}
.footer__block:nth-child(2){
    margin-right: 10px;
}
.footer__social{
    background-image: url(/img/discord.svg);
    background-position: center left;
    background-repeat: no-repeat;
    background-size: cover;
    display: block;
    width: 20px;
    height: 20px;
    margin-right: 10px;
}
.footer__social_yt{
    background-image: url(/img/youtube.svg);
    margin-right: 0;
    width: 40px;
    background-size: contain;
}
.footer__text{
    display: flex;
    align-items: center;
}
.footer__image{
    width: 70px;
    margin: 0 10px;
}
.footer__link{
    color: var(--text-color);
    margin-right: 10px;
}

@media (max-width: 900px){
    .column{
        padding: 0 20px;
    }
    .column_main{
        padding: 0 20px;
    }
    .header::before{
        width: 200px;
        height: 200px;
    }
    .header__avatar{
        width: 200px;
        height: 200px;
    }
    .header__avatar::after{
        width: 50px;
        height: 50px;
        right: 4px;
    }
    .header__title{
        font-size: 40px;
    }
}